/* src/Dashboard/profile/ModalAvatar.css */
.modal-avatar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-avatar-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-avatar-image {
    max-width: 50vw;
    max-height: 50vh;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.08);
}

.modal-avatar-close {
    position: absolute;
    top: 20px;
    right: 0px;
    background: transparent;
    border: none;
    color: white;
    font-size: 32px;
    cursor: pointer;
}
