.profile-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    /* min-height: auto; */
    margin: 180px auto 0px auto;
    /* margin-top: 180px; */
    color: white;
    border-radius: 16px;
    padding: 8px;
    font-family: system-ui, sans-serif;
    background-color: #171717;
    overflow: hidden;
    flex: 1;
    overflow-y: auto;
    
}

.profile-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: system-ui, sans-serif;
}

.profile-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex: 1;
}
.profile-info h2 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}


.username {
    color: #777777;
    margin-top: -8px;
}
.profile-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.bio {
    white-space: pre-wrap;
    margin: 0.5rem 0;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.followers {
    margin-bottom: 0.5rem;
    color: #777777;
}

.badges span {
    margin-right: 8px;
}

.edit-btn {
    width: 100%;
    background: none;
    border: 1px solid gray;
    color: white;
    padding: 0.4rem 1rem;
    border-radius: 10px;
    margin: 10px auto -20px auto;
    cursor: pointer;
    size: bold;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

@media screen and (max-width: 768px){
    .profile-container {
        width: 90%;
        margin-top: 270px;
    }
        
}

