/* Estilos generales */
/* Fondo superior con la imagen */
body {
    background: url("https://static.cdninstagram.com/rsrc.php/y1/r/5RtYIp7XME3.avif") no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue" Arial, sans-serif;
}

/* Contenedor principal que ocupa toda la pantalla */
.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


/* Contenedor principal */
.login-container {
    flex: 1; /* Empuja el footer hacia abajo */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 20px;
}


/* Caja del login */
.login-box {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #ffffff;
    padding: 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 350px;
    text-align: center;
}

/* Título */
.login-box h2 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
    /* Ajusta el grosor */
    color: #000;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.logo-threads {
    display: block;
    width: 80px;
    /* Ajusta el tamaño del logo */
    margin: 0 auto 20px;
    /* Centra horizontalmente y agrega espacio abajo */
}

/* Campos de entrada */
.input-field {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    width: 93%;
    padding: 16px 12px;
    margin-bottom: 10px;
    border: none;

    border-radius: 10px;
    background-color: #f1f2f1;
    color: #000000;
    font-size: 16px;
}

.input-field::placeholder {
    color: #888;
}

/* Botón de login */
.login-button {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    width: 100%;
    padding: 16px 12px;
    background-color: #000000;
    color: #4f4f4f;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.login-button:hover {
    background-color: #e6e6e6;
}

/* Texto de registro */
.register-text {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #000000;
    margin-top: 15px;
    font-size: 14px;
}

.register-link {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.register-link:hover {
    text-decoration: underline;
}

.goToInstagram {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.button-instagram {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background: #ffffff;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    border: solid 1px #888;
    border-radius: 10px;


}

.logo-instagram {
    width: 70px;
}

/* Footer siempre abajo */
.footer {
    text-align: center;
    padding: 15px;
    background: #fff;
    color: #000;
    font-size: 14px;
    width: 100%;
    
}
.footer nav {
    margin-top: 10px;
}

.footer a {
    margin: 0 10px;
    color: #000;
    text-decoration: none;
    position: relative;
}

.footer a:hover {
    text-decoration: underline;
}


/* Estilos para versión móvil */
@media (max-width: 520px) {
    .logo-threads {
        display: block;
        /* Se muestra en móviles */
    }

    body {
        background: none;
        background-color: #fff;
    }
}

@media (min-width: 521px) {
    .logo-threads {
        display: none;
        /* Se oculta en pantallas grandes */
    }
}